<form [formGroup]="form" (ngSubmit)="onSubmit()" class="full-size" fxLayoutGap="16px" fxLayout="column"
    fxLayout.xs="column" fxFlexFill>
    <h2 class="mat-headline-6">Informações inicias</h2>

    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
        <app-select-vara-penal [selectedVara]="form.controls['vara'].value" fxFlex="30" fxFlex.xs="100"
            (selectedVaraChange)="onAtualizarVaraCriminalSelecionado($event)">
        </app-select-vara-penal>
        <mat-form-field appearance="fill" fxFlex="50" fxFlex.xs="100">
            <mat-label>Número do processo</mat-label>
            <input matInput type="number" placeholder="" formControlName="nro_processo">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="20" fxFlex.xs="100">
            <mat-label>Número artigo penal</mat-label>
            <input matInput type="number" placeholder="" formControlName="nro_artigo_penal">
        </mat-form-field>
    </div>
    <app-select-prestador [selectedPrestador]="form.controls['prestador'].value" fxFlex="100"
        (selectedPrestadorChange)="onAtualizarPrestadorSelecionado($event)">
    </app-select-prestador>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field appearance="fill" fxFlex="50" fxFlex.xs="100">
            <mat-label>Pena originária</mat-label>
            <input matInput placeholder="" formControlName="pena_originaria">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="50" fxFlex.xs="100">
            <mat-label>Regime</mat-label>
            <input matInput type="number" placeholder="" formControlName="pena_originaria_regime">
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Inciso</mat-label>
        <input matInput placeholder="" formControlName="inciso">
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Detalhamento</mat-label>
        <input matInput placeholder="" formControlName="detalhamento">
    </mat-form-field>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field appearance="fill" fxFlex="50" fxFlex.xs="100">
            <mat-label>PRD</mat-label>
            <input matInput type="number" placeholder="" formControlName="prd">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="50" fxFlex.xs="100">
            <mat-label>PRD - Descrição</mat-label>
            <input matInput placeholder="" formControlName="prd_descricao">
        </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field appearance="fill" fxFlex="33" fxFlex.xs="100">
            <mat-label>Persecução penal</mat-label>
            <input matInput placeholder="" formControlName="vara">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="33" fxFlex.xs="100">
            <mat-label>Horas à cumprir</mat-label>
            <input matInput type="number" placeholder="" formControlName="horas_cumprir">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="33" fxFlex.xs="100">
            <mat-label>Penas anteriores</mat-label>
            <input matInput placeholder="" formControlName="qtd_penas_anteriores">
        </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
        <div fxFlex="15" fxFlex.xs="100">
            <mat-checkbox formControlName="possui_multa">Possui multa</mat-checkbox>
        </div>
        <mat-form-field fxFlex="40" fxFlex.xs="100">
            <mat-label>Valor</mat-label>
            <input matInput type="number" forControlName="valor_a_pagar"
                [disabled]="form.controls['valor_a_pagar'].disabled">
        </mat-form-field>
    </div>

    <h2 class="mat-headline-6">Configuração pena alternativa</h2>
    <div fxFlex="100" fxLayout="column" fxLayoutGap="16px" fxFill>
        <mat-form-field appearance="fill">
            <mat-label>Nome de exibição da penal alternativa</mat-label>
            <input matInput placeholder="" formControlName="descricao_alternativa_penal">
            <mat-hint>Nome que será exibido em Alternativas penais juntamente com o nome do prestador</mat-hint>
        </mat-form-field>
    </div>
    <div class="row fab-button">
        <button mat-fab type="submit" color="primary" aria-label="Submit button">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</form>