<h1 mat-dialog-title>Adicionar droga utilizada</h1>
<div mat-dialog-content>
  <div>
    <mat-chip-listbox [(ngModel)]="usoDroga.droga">
      <mat-chip-option value="1">Droga 1</mat-chip-option>
      <mat-chip-option value="2">Droga 2</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Frequência</mat-label>
      <input matInput [(ngModel)]="usoDroga.frequencia">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label >Observação</mat-label>
      <input matInput [(ngModel)]="usoDroga.observacao">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clickAdicionar()" cdkFocusInitial>Adicionar</button>
  <button mat-button (click)="clickCancelar()">Cancelar</button>
</div>