<div class="column full-size container">
    <div class="container-filtros">
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <h1 class="margem-esquerda">CIAPs encontradas</h1>

    <mat-nav-list class="listagem-container">
        <!--
            FOrmato não generico
            <ng-container *ngIf="instituicoes$ | async as insituicoes; else loading">
            <a mat-list-item [routerLink]="['prestador', instituicao.id]" *ngFor="let instituicao of insituicoes">
                <div style="padding: 16px;">
                    <span>{{instituicao.nome}}</span>
                </div>
            </a>

            <span *ngIf="!insituicoes?.length">
                Oops! Não encontramos nenhum registro. :(
            </span>
        </ng-container>
        <ng-template #loading>
            Carregando
        </ng-template>-->
        <!-- Em teste "generalizando"-->
        <ng-container *ngIf="instituicoes$ | async as instituicoes; else loading">
            <app-lista-entidade [entidades]="instituicoes">
            </app-lista-entidade>
        </ng-container>
        <ng-template #loading>
            Carregando
        </ng-template>
    </mat-nav-list>
</div>
<div class="row full-width justify-content-end align-items-center button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
        (click)="onAdicionarNovaEntidade()">
        <mat-icon>add</mat-icon>
    </button>
</div>