listagem-ciap-component {

    .container-filtros {
        padding: 16px;

        :first-child {
            margin-left: 0px;
        }

        mat-form-field {
            margin-left: 16px;
        }
    }

    .margem-esquerda {
        margin-left: 16px;
    }

    .listagem-container {

        width: calc(100% - 16px);

        a {
            background-color: whitesmoke;
            text-decoration: none;
            color: black;
            height: 100% !important;
            margin: 16px;


        }
    }

}

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    box-sizing: border-box;
}