<div class="column full-size container">
  <app-form [formGroup]="filtros">
    <mat-form-field class="field-margin-left">
      <mat-label>Identificador</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field class="field-margin-left">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
  </app-form>

  <app-listagem-entrevista-grid></app-listagem-entrevista-grid>
  <div class="row fab-button">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
      (click)="onAdicionarNovaEntidade()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
