<div class="column full-size container">
  <app-form [formGroup]="filtros">
    <div class="content full-size" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxFlexFill>
      <mat-form-field fxFlex="30" fxFlex.xs="100">
        <mat-label>Identificador</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
      <mat-form-field fxFlex="30" fxFlex.xs="100">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
      </mat-form-field>
    </div>
  </app-form>

  <app-listagem-entrevista-grid></app-listagem-entrevista-grid>
  <div class="row fab-button">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
      (click)="onAdicionarNovaEntidade()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>