<ng-container *ngIf="entidade$ | async as entidade">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="column full-size">
        <h2 class="mat-headline-6">Pergunta</h2>
        <div class="w-1" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
            <mat-form-field appearance="fill" fxFlex="80" fxFlex.xs="100">
                <mat-label>Pergunta</mat-label>
                <input matInput placeholder="" formControlName="pergunta">
            </mat-form-field>

            <mat-slide-toggle formControlName="ativo" color="primary" labelPosition="before">Ativo </mat-slide-toggle>
        </div>
        <div class="row fab-button" fxFlex="100">
            <button mat-fab type="submit" color="primary" aria-label="Submit button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>
</ng-container>