<div class="column full-size container">
    <app-form [formGroup]="filtros">
        <div class="content full-size" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxFlexFill>
            <mat-form-field fxFlex="30" fxFlex.xs="100">
                <mat-label>Pergunta</mat-label>
                <input matInput formControlName="pergunta">
            </mat-form-field>
        </div>
    </app-form>

    <app-lista-entidade [entidades]="perguntas$" [rotaEntidade]="['pergunta']">
        <ng-template #titulo>
            <h2 class="mat-headline-6">Perguntas encontradas</h2>
        </ng-template>
        <ng-template #entidades let-entidade>
            <span matListItemTitle>{{entidade.pergunta}}</span>
        </ng-template>
        <ng-template #nenhumaEntidade>
            Oops! Não encontramos nenhuma Pergunta :(
        </ng-template>
    </app-lista-entidade>
    <div class="row fab-button">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            (click)="onAdicionarNovaEntidade()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
