<div class="column full-size container">
    <div class="container-filtros">
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <h1 class="margem-esquerda">Prestadores encontrados</h1>


    <mat-nav-list class="listagem-container">
        <ng-container *ngIf="prestadores$ | async as prestadores; else loading">
            <mat-list-item (click)="irDetalheEntidade(prestador.id)" *ngFor="let prestador of prestadores">
                <div style="padding: 16px;">
                    <span>{{prestador.nome}}</span>
                </div>
            </mat-list-item>

            <span *ngIf="!prestadores?.length">
                Oops! Não encontramos nenhum registro. :(
            </span>
        </ng-container>
        <ng-template #loading>
            Carregando
        </ng-template>
    </mat-nav-list>
</div>
<div class="row full-width justify-content-end align-items-center button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
        (click)="onAdicionarNovaEntidade()">
        <mat-icon>add</mat-icon>
    </button>
</div>