<div class="column full-size container">
    <app-form [formGroup]="filtros">
        <div class="content full-size" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxFlexFill>
            <mat-form-field fxFlex="30" fxFlex.xs="100">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
        </div>
    </app-form>

    <app-lista-entidade [entidades]="usuarios$" [rotaEntidade]="['profissional']" [config]="entidadeConfig">
        <ng-template #titulo>
            <h2 class="mat-headline-6">Usuários encontrados</h2>
        </ng-template>
        <ng-template #entidades let-entidade>
            <span matListItemTitle>{{entidade.nome}}</span>
            <span matListItemLine>Informações extras sobre o usuário</span>
        </ng-template>
        <ng-template #nenhumaEntidade>
            Oops! Não encontramos nenhum profissional :(
        </ng-template>
    </app-lista-entidade>
    <div class="row fab-button">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            (click)="onAdicionarNovoUsuario()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
